<?xml version="1.0" encoding="utf-8"?>

<!-- Para obter mais informações sobre como usar a transformação do Web.config, visite https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<!--<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;
                         Initial Catalog=MGMC_DB;
                         Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>-->

	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=sql6033.site4now.net;
                         Initial Catalog=db_ac424c_ferreira22c;
                         User ID=db_ac424c_ferreira22c_admin;
                         Password=Qweras25c;
                         MultipleActiveResultSets=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>



	<system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      No exemplo abaixo, a transformação "Replace" vai substituir toda a seção
      <customErrors> do seu arquivo Web.config.
      Observe que como há somente uma seção customErrors no nó 
      <system.web>, não há necessidade de usar o atributo "xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
